

@font-face {
    font-family: 'Nunito';
    src: url('assets/fonts/black/Nunito-Black.woff2') format('woff2'),
        url('assets/fonts/black/Nunito-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Nunito';
    src: url('assets/fonts/semibold/Nunito-SemiBold.woff2') format('woff2'),
        url('assets/fonts/semibold/Nunito-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Nunito';
    src: url('assets/fonts/bold/Nunito-Bold.woff2') format('woff2'),
        url('assets/fonts/bold/Nunito-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Nunito';
    src: url('assets/fonts/thin/Nunito-Light.woff2') format('woff2'),
        url('assets/fonts/thin/Nunito-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Nunito';
    src: url('assets/fonts/regular/Nunito-Regular.woff2') format('woff2'),
        url('assets/fonts/regular/Nunito-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

